#contact {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    text-align: left;
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
}

.itemForm {
    margin-bottom: 25px;
    color: black;
}

.inputForm {
    width: 30%;
    height: 30px;
    font-size: 17px;
}

.textAreaForm {
    width: 30%;
    height: 100px;
    font-size: 17px;
}

.inputSubmit {
    font-size: 25px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color:rgb(29, 36, 115);
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    border: none;
    color: white;
}

.inputSubmit:hover {
    background-color: rgb(0, 0, 115);
}

.errorInput {
    color: red;
    padding-top: 10px;
}

.labelForm {
    font-size: 20px;
    
}