header {
    font-weight: bold;
    text-align: justify;
    font-size: 25px;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.item p a {
    color: black;
}

h2 {
    color:rgb(0, 0, 115);
}

table {
    align-self: center;
    width: 80%;
    border-collapse: collapse;
}

td {
    text-align: left;
    padding: 5px;
    border: 2px solid rgb(40, 40, 40);
    width: 40%;
}

td a {
    text-decoration: none;
    color: rgb(0, 0, 115);
}

td a:hover {
    color: rgb(0, 0, 75);
}

td:nth-child(1) {
    width: 20%;
}