.homeLeft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.homeLeft:hover .textHome{
    background-color:rgb(255, 255, 100);
}

.homeRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.homeRight:hover .textHome{
    background-color:rgb(255, 255, 100);
}

.homeLeft .imageHome {
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.homeRight .imageHome {
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.homeLeft .textHome {
    text-align: justify;
    background-color:rgb(255, 255, 160);
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition-duration: 0.5s;
}

.homeRight .textHome {
    text-align: justify;
    background-color:rgb(255, 255, 160);
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition-duration: 0.5s;
}

hr {
    border-top: 1px solid black;
    margin: 10px;
}

.buttonAbout {
    text-decoration: none;
    padding: 10px;
    background-color:rgb(29, 36, 115);
    color: white;
    transition-duration: 0.5s;
    margin-top: 10px;
    border-radius: 2px;
    transition-duration: 0.5s;
}

.buttonAbout:hover {
    background-color:   rgb(0, 0, 115);
    box-shadow: 0 7px 8px 0 rgba(0,0,0,0.2);
}

#linkFindAgencies {
    display: flex;
    justify-content: center;  
}

#containLinkFindAgencies {
    background-color:rgb(255, 255, 160);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition-duration: 0.5s;
}

#containLinkFindAgencies:hover {
    background-color:rgb(255, 255, 100);
}


#iconLinkFindAgencies {
    flex: 1;
    color: rgb(29, 36, 115);
    font-size: 150px;
    text-align: center;
    padding: 20px;
}

#textLinkFindAgencies {
    padding: 20px;
    flex: 1;
    text-align: justify;
}


@media only screen and (min-width: 1200px) {
    .homeLeft .imageHome {
        max-width: 750px;
        max-height: 400px;
    }

    .homeRight .imageHome {
        max-width: 750px;
        max-height: 400px;
    }

    .homeLeft .textHome {
        max-width: 300px;
        max-height: 400px;
        font-size: 13px;
        padding: 10px;
    }

    .homeRight .textHome {
        max-width: 300px;
        max-height: 400px;
        font-size: 13px;
        padding: 10px;
    }

    .buttonAbout {
        font-size: 14px;
        padding: 14px;
    }

    .buttonAbout:hover {
        padding: 15px;
    }

    #containLinkFindAgencies {
        height: 250px;
        width: 850px;
    }

    #textLinkFindAgencies p{
        font-size: 14px;
    }
    
}

@media only screen and (max-width: 1200px) {
    .homeLeft .imageHome {
        max-width: 450px;
        max-height: 300px;
    }

    .homeRight .imageHome {
        max-width: 450px;
        max-height: 300px;
    }

    .homeLeft .textHome {
        max-width: 200px;
        max-height: 300px;
        font-size: 10px;
        padding: 8px;
    }

    .homeRight .textHome {
        max-width: 200px;
        max-height: 300px;
        font-size: 10px;
        padding: 8px;
    }

    .buttonAbout {
        font-size: 10px;
        padding: 10px;
    }

    .buttonAbout:hover {
        padding: 11px;
    }

    #containLinkFindAgencies {
        height: 200px;
        width: 650px;
    }

    #textLinkFindAgencies p{
        font-size: 10px;
    }
    
}

@media only screen and (max-width: 900px) {
    .homeLeft .imageHome {
        max-width: 350px;
        max-height: 275px;
    }

    .homeRight .imageHome {
        max-width: 350px;
        max-height: 275px;
    }

    .homeLeft .textHome {
        max-width: 200px;
        max-height: 275px;
        font-size: 9px;
        padding: 8px;
    }

    .homeRight .textHome {
        max-width: 200px;
        max-height: 275px;
        font-size: 9px;
        padding: 8px;
    }

    .buttonAbout {
        font-size: 10px;
        padding: 8px;
    }

    .buttonAbout:hover {
        padding: 9px;
    }

    #containLinkFindAgencies {
        height: 200px;
        width: 650px;
    }

    #textLinkFindAgencies p{
        font-size: 10px;
    }

    
}

@media only screen and (max-width: 768px){
    .homeLeft .imageHome {
        display: none;
    }

    .homeRight .imageHome {
        display: none;
    }

    .homeLeft .textHome {
        max-width: 400px;
        max-height: 450px;
        font-size: 13px;
        padding: 10px;
        padding-bottom: 25px;
        border-radius: 10px;
    }

    .homeRight .textHome {
        max-width: 400px;
        max-height: 450px;
        font-size: 13px;
        padding-top: 10px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        border-radius: 10px;
    }

    .buttonAbout {
        font-size: 14px;
        padding: 14px;
    }

    .buttonAbout:hover {
        padding: 15px;
    }

    #containLinkFindAgencies {
        height: 250px;
        width: 400px;
    }

    #textLinkFindAgencies p{
        font-size: 14px;
    }

    #iconLinkFindAgencies{
        display: none;
    }
    
}
