hr {
    border-top: 1px solid black;
    margin: 10px;
}

.buttonAbout {
    text-decoration: none;
    padding: 10px;
    background-color:rgb(255, 238, 46);
    color: white;
    transition-duration: 0.5s;
    margin-top: 10px;
    border-radius: 2px;
    transition-duration: 0.5s;
    text-shadow: 1px 1px gray;
}

.buttonAbout:hover {
    background-color:   rgb(0, 0, 115);
    box-shadow: 0 7px 8px 0 rgba(0,0,0,0.2);
}

#linkFindAgencies {
    display: flex;
    justify-content: center;  
}

#containLinkFindAgencies {
    background-color:rgb(255, 255, 160);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition-duration: 0.5s;
}

#containLinkFindAgencies:hover {
    background-color:rgb(255, 255, 100);
}


#iconLinkFindAgencies {
    flex: 1;
    color: rgb(29, 36, 115);
    font-size: 150px;
    text-align: center;
    padding: 20px;
}

#textLinkFindAgencies {
    padding: 20px;
    flex: 1;
    text-align: justify;
}

.companyContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
    justify-content: center;
}

.companyImage {
    max-height: 350px;
    width: 400px;
}

.companyContent {
    padding: 20px;
    width: 400px;
    text-align: justify;
}

.franchiseContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.franchiseImage {
    height: auto;
    width: 55%;
    z-index: 2;
    margin-right: -10%;
    border-radius: 40px;
}

.franchiseContent {
    float: right;
    background-color:rgb(215, 215, 215);
    height: 200px;
    width: 40%;
    padding-left: 20px;
    padding: 10px;
    z-index: 3;
    border-radius: 10px;
}

.franchiseContent p {
    margin-bottom: 40px;
}

.recruitmentContainer {
    background-image: url('/images/img1.jpg');
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.recruitmentContent {
    text-shadow: 1px 1px gray;
    text-align: right;
    float: right;
    color: white;
    padding: 20px;
    width: 25%;
    height: inherit;
    font-size: 28px;
    line-height: 50px;
}

@media only screen and (min-width: 1200px) {

    .buttonAbout {
        font-size: 18px;
        padding: 14px;
    }

    .buttonAbout:hover {
        padding: 15px;
    }

    #containLinkFindAgencies {
        height: 250px;
        width: 850px;
    }

    #textLinkFindAgencies p{
        font-size: 14px;
    }
    
}

@media only screen and (max-width: 1200px) {

    .buttonAbout {
        font-size: 10px;
        padding: 10px;
    }

    .buttonAbout:hover {
        padding: 11px;
    }

    #containLinkFindAgencies {
        height: 200px;
        width: 650px;
    }

    #textLinkFindAgencies p{
        font-size: 13px;
    }

    
    
}

@media only screen and (max-width: 900px) {

    .buttonAbout {
        font-size: 10px;
        padding: 8px;
    }

    .buttonAbout:hover {
        padding: 9px;
    }

    #containLinkFindAgencies {
        height: 200px;
        width: 650px;
    }

    #textLinkFindAgencies p{
        font-size: 11px;
    }

    
}

@media only screen and (max-width: 768px){

    .buttonAbout {
        font-size: 14px;
        padding: 14px;
    }

    .buttonAbout:hover {
        padding: 15px;
    }

    #containLinkFindAgencies {
        height: 250px;
        width: 400px;
    }

    #textLinkFindAgencies p{
        font-size: 14px;
    }

    #iconLinkFindAgencies{
        display: none;
    }
    
}
