body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 75px;
    margin-left: 120px;
    margin-right: 120px;
}

nav {
    background-color: white;
    overflow: hidden;
    height: 55px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 5px gray;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

nav div:last-child {
    align-self: flex-end;
}

#navButtonContainer {
    display: flex;
    flex-direction: row;
    height: 55px;
}

.navButton {
    flex: 1;
    border-right: 1px solid gray;
    text-decoration: none;
    color: black;
    padding: 18px;
    text-align: center;
    align-self: center;
    font-weight: bold;
    transition-duration: 0.5s
}

.navButton:first-child {
    font-size: 22px;
    background-color: rgb(29, 36, 115);
    color: white;
}

.navButton:first-child:hover {
    background-color: rgb(0, 0, 115);
}

.navButton:hover {
    background-color: rgb(29, 36, 115);
    color: white;
    padding: 20px;
}

footer {
    background-color: white;
    height: auto;
    width: 100%;
    box-shadow: gray 0px 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
    bottom: 0;
    left: 0;
}

#logoContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#logo {
    height: 40px;
    width: auto;
    margin-right: 20px;
    margin-bottom: 5px;
}

#facebook {
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    font-size: 27px;
    color: #3b5998;
    margin-left: 8px;
    margin-right: 8px;
    transition-duration: 0.5s
}

#facebook:hover {
    color: black;
}

#instagram {
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    font-size: 27px;
    color: #c08d64;
    margin-left: 8px;
    margin-right: 8px;
    transition-duration: 0.5s
}

#instagram:hover {
    color: black;
}

#twitter {
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    font-size: 27px;
    color: #00acee;
    margin-left: 8px;
    margin-right: 8px;
    transition-duration: 0.5s
}

#twitter:hover {
    color: black;
}

#linkedin {
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    font-size: 27px;
    color: #0e76a8;
    margin-left: 8px;
    margin-right: 8px;
    transition-duration: 0.5s
}

#linkedin:hover {
    color: black;
}

#socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(175, 229, 255);
    border-radius: 3px;
    padding: 7px;
    width: 60%;
    justify-content: center;
}

#legalNotice {
    text-decoration: underline;
    color: black;
    font-weight: bold;
    font-size: 13px;
    transition-duration: 0.5s;
    margin-top: 10px;
}

#legalNotice:hover {
    color:  rgb(0, 0, 115);
}

#footerAsideContainer {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.footerAside {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footerAsideLink{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 15px;
}

.footerAsideServiceLink {
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 2px;
    border-radius: 4px;
    width: max-content;
    padding: 3px;
}

.footerAsideServiceLink:hover {
    font-weight: bold;
}