#legalMention {
    display: flex;
    flex-direction: column;
    
}

.itemLegalMention {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.itemLegalMention:first-child div{
    justify-content: space-between;
}

.itemLegalMention p {
    font-size: 16px;
}

.itemLegalMention h3 {
    color:rgb(29, 36, 115);
}

.itemLegalMention a {
    color: black;
}

.infoLegalMention {
    margin-bottom: 15px;
}

@media only screen and (min-width: 1200px) {
    #legalMention {
        width: 60%;
    }
}

@media only screen and (max-width: 1200px) {
    #legalMention {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    #legalMention {
        width: 90%;
    }

    .itemLegalMention p {
        font-size: 15px;
    }
}