#legalMention {
    display: flex;
    flex-direction: column;
    width: 60%;

}

.itemLegalMention {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.itemLegalMention p {
    font-size: 16px;
}

.itemLegalMention h3 {
    color:rgb(29, 36, 115);
}

.itemLegalMention a {
    color: black;
}